:root {
  --shadow-button: rgba(222, 218, 218, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;

  --font-color: #222831;
  --color: #eeeeee;
  --background-color: #00adb5;
  --background-color-page: #bebebe;

  --gap: 0.5rem;
  --radius: 0.5rem;

  --font-weight: 600;
}
.Content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #393e46;
}
.Content__container {
  width: 70%;
  height: 80%;
  box-shadow: 0px 0px 10px 0px var(--background-color-page);
  background-color: #eeeeee;
  border-radius: 1rem;
}
.Content__container-title {
  text-align: center;
}

.Content__container-playersTurn {
  align-content: center;
  display: flex;
  justify-content: space-around;
}

.Content__container-playersTurn-totatl-results {
  width: 15rem;
  height: 2.5rem;
  border-radius: 1rem;
  border: 1px solid #00adb5;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  background-color: #393e46;
  color: #eeeeee;
  font-size: 1.5rem;
  font-weight: 700;
}

.Content__container-totatl-results {
  width: 15rem;
  height: 2.5rem;
  border-radius: 1rem;
  border: 1px solid #00adb5;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  background-color: #393e46;
  color: #eeeeee;
  font-size: 1.5rem;
  font-weight: 700;
}

.Content__container-Tic-Tac-Toe {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.Content__container-Tic-Tac-Toe-container {
  width: 300px;
  max-width: 300px;
  height: 300px;
  max-height: 300px;
  display: flex;
  flex-wrap: wrap;
  text-align: center; /* wyśrodkowanie poziome */
  position: relative; /* ustawienie pozycji kontenera jako relatywnej */
  border-radius: 20px;
}

.Content__container-Tic-Tac-Toe-container div {
  width: 33.3333%;
  height: 33%;
  padding: 0;
  margin: 0;
  font-size: 5rem;
  background-color: transparent;
  float: left;
  font-size: 46px;
  font-weight: bold;
  line-height: 36px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-justify: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Content__container-Tic-Tac-Toe-container div {
  border: 7px solid #393e46;
  border-top: none;
  border-left: none;
}

.Content__container-Tic-Tac-Toe-container div:first-child {
  border-top: none;
  border-left: none;
}

.Content__container-Tic-Tac-Toe-container div:nth-child(3n + 1) {
  border-left: none;
}
.Content__container-Tic-Tac-Toe-container div:nth-child(3n) {
  border-right: none;
}

.Content__container-Tic-Tac-Toe-container div:last-child {
  border-right: none;
}
.Content__container-Tic-Tac-Toe-container div:nth-last-child(-n + 3) {
  border-bottom: none;
}
.Content__container-Tic-Tac-Toe-container div:nth-child(-n + 3) {
  border-top: none;
}

.Content__container-Btn-content {
  text-align: center;
  margin-top: 3rem;
}
.Content__container-Btn-content-Btn {
  width: 30%;
  height: 3rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 1rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #393e46;
  color: #00adb5;
  box-shadow: 0px 0px 10px 0px #030b17;
  border: none;
  cursor: pointer;
}

.Content__container-Btn-content-Btn:hover {
  background-color: #00adb5;
  color: #393e46;
}
/* .Tic-Tac-Toe_container div::before {
  content: "O";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.Tic-Tac-Toe_container div::before {
  opacity: 1;
} */

/* animacje  */
.Content__container-Tic-Tac-Toe-container div {
  position: relative;
  overflow: hidden;
}

/* .Content__container-Tic-Tac-Toe-container div::before {
  content: "O";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.Content__container-Tic-Tac-Toe-container div:hover::before {
  opacity: 1;
} */

@media (max-width: 600px) {
  .Content {
    align-content: start;
  }
  .Content__container {
    width: 100%;
    height: 80%;
  }
  .Tic-Tac-Toe_container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
  }
  .Content__container-Btn-content-Btn {
    width: 14rem;
  }
}
