.Tic-Tac-Toe {
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
.Tic-Tac-Toe_container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
}

.Tic-Tac-Toe_container div {
  width: 30%;
  height: 60px;
  border: solid 2px black;
  font-size: 2rem;
  /* background-color: aqua; */
}

.Tic-Tac-Toe_container-content-1 {
  border-bottom: none;
  border-right: none;
}
